html
{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    
    .sr-only
    {
        display: none;
    }
    
    & > header
    {
        
        height: 8vh;
        display: flex;
        justify-content: center;
        
        h1
        {
            font-size: 2em;
            align-self: center;
        }
    }
    
    & > main
    {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10vh;
        
        section
        {
            button
            {
                background: #d73b07;
                border: 2px solid #d73b07;
                border-radius: 30px;
                color: #fff;
                font-size: 1.2em;
                font-weight: bold;
                padding: 0.5em;
                margin: 0.5em;
            }
        }
        
        table
        {
            thead
            {
                tr
                {
                    th
                    {
                        font-weight: 600;
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}