#create-form
{
    fieldset
    {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        margin-bottom: 4vh;
        
        #sbm-create-btn
        {
           background: #d73b07;
                border: 2px solid #d73b07;
                border-radius: 30px;
                color: #fff;
                font-size: 1.2em;
                font-weight: bold;
                padding: 0.5em;
                margin: 0.5em; 
        }
        
        label
        {
            font-size: 1.2em;
            font-weight: 600;
        }
        
        input
        {
            height: 4vh;
        }
        
        
    }
    
    
}